body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: red;
  margin: 30px 0px;
}

table.table a:link {
  color: black;
  text-decoration: underline;
}

table.table a:visited {
  color: black;
  text-decoration: none;
}

table.table a:hover {
  background-color: white;
  text-decoration: none;
}

.customerDiv {
  background-color: grey;
}

.w-auto {
  width: auto;
}

.table-fixed {
    table-layout: fixed; 
    overflow: hidden;
}