<h1>Capital One ATM Locations</h1>

<% if (atms.length > 0) { %>
  <% atms.forEach((atm, index) => { %>
    <!-- Check for first card, opening card-deck div, new card div -->
    <% if (index == 0) { %>
      <!-- Beginning of Card deck -->
      <div class="card-deck">
        <% include ../partials/atmCard %>
    <!-- Closing card-deck div, new card-div -->
    <% } else if (index % 2 == 0) { %>
      </div>
      <!-- End of Card deck -->
      <!-- Beginning of Card deck -->
      <div class="card-deck">
        <% include ../partials/atmCard %>
    <% } else { %>
      <!-- Just add a new card -->
      <% include ../partials/atmCard %>
    <% } %>
  <% }) %>
<% } else { %>
    <h2>Looks like ther are no ATMs near your area. Sorry!</h2>
  <% } %>