<h1>Add a New Account!</h1>

<form action="/<%= customer_id %>/accounts/new" method="POST">
  <div class="container">
    <div class="form-group">
      <label for="validationDefault01">Account Type</label>
      <select name="type" id="validationDefault01" class="form-control browser-default custom-select mb-4" required>
        <option value="" disabled>Choose option</option>
        <option value="Checking" selected>Checking</option>
        <option value="Savings">Savings</option>
      </select>
      <small class="form-text text-muted mb-4">Required</small>
    </div>

    <div class="form-group">
      <label for="validationDefault02">Nickname</label>
      <input id="validationDefault02" class="form-control" type="text" name="nickname" required>
      <small class="form-text text-muted mb-4">Required</small>
    </div>

    <div class="form-group">
      <input class="form-control" type="hidden" name="rewards" value="0">
    </div>

    <div class="form-group">
      <input class="form-control" type="hidden" name="balance" value="0">
    </div>

    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Add Account">
    </div>
  </div>
</form>
<br>
<a class="btn btn-outline-dark" href="/">Cancel</a>